{% extends "hospital/base.html" %}
{% block title %} home {% endblock %}
{% block content %} 
<div class="container text-center " style="margin-top: 50px;">
    <h3> Contact us</h3>
    <div class="row mt-5 text-center">
      <div class="col-lg-3 col-sm-6 mydivstyle" >
        <h4><i class="fas fa-phone-square">Contact</i> </h4>
        <p class="text-danger font-weight-bold mt-3"> <a href="tel:+9779800000000">+9779800000000</a></p>
      </div>
      <div class="col-lg-3 col-sm-6 mydivstyle" >    
        <h4><i class="fa fa-envelope"> Send Email</i> </h4>
        <p> <a href="mailto:tempoall202@gmail.com">tempoall202@gmail.com</a></p>
      </div>
      <div class="col-lg-3 col-sm-6 mydivstyle" >
        <h4><i class="fa fa-address-card">Office Address</i> </h4>
        <p><a href="https://www.google.com/maps/place/IOE,+Thapathali+Campus/@27.6940687,85.3177808,17.3z/data=!4m6!3m5!1s0x39eb19ae08c068d9:0x475bed1f66d060c!8m2!3d27.6940347!4d85.3188261!16s%2Fm%2F05zhjq0?authuser=0&entry=ttu">Thapathali</a></p>
      </div>
      <div class="col-lg-3 col-sm-6 mydivstyle" >
        <h4><i class="fa fa-clock">Office time</i> </h4>
        <p>10Am to 5 Pm</p>
      </div>
    </div>
  </div>
{% endblock %}