{% extends "hospital/base.html" %}
{% load static %}
{% block title %}Home{% endblock %}
{% block content %}

<style>
    .carousel-inner {
        height: 60vh;
        overflow: scroll; /* Changed from scroll to hidden to avoid unnecessary scrollbars */
    }

    .carousel-item img {
        width: 100%;
        height: auto;
        object-fit: cover;
    }

    .card-container {
        margin-top: 20px;
    }

    .sidebar {
        padding: 20px;
        background-color: #f8f9fa;
        border-radius: 5px;
    }

    .sidebar h4 {
        margin-bottom: 20px;
    }

    .sidebar ul {
        list-style-type: none;
        padding: 0;
    }

    .sidebar ul li {
        margin-bottom: 10px;
    }

    .sidebar ul li a {
        text-decoration: none;
        color: #007bff;
    }

    .sidebar ul li a:hover {
        text-decoration: underline;
    }
</style>

<div id="carouselExampleIndicators" class="carousel slide">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner" id="images">
        <div class="carousel-item active">
            <img src="{% static 'images/hospital1.jpg' %}" class="d-block" alt="Hospital1">
        </div>
        <div class="carousel-item">
            <img src="{% static 'images/hospital2.jpg' %}" class="d-block" alt="Hospital2">
        </div>
        <div class="carousel-item">
            <img src="{% static 'images/hospital3.jpg' %}" class="d-block" alt="Hospital3">
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>

<div class="container card-container">
    <div class="row">
        <div class="col-md-8">
            <div class="row">
                <div class="col-12 col-sm-6 col-md-4 col-lg-2 mb-4">
                    <div class="card">
                        <img src="{% static 'images/ambulance.png' %}" class="card-img-top" alt="ambulance 1">
                        <div class="card-body">
                            <h5 class="card-title">Ambulance Service</h5>
                  
                        </div>
                    <!-- </div>
                </div>
                <div class="col-12 col-sm-6 col-md-4 col-lg-2 mb-4">
                    <div class="card">
                        <img src="{% static 'images/emergency.png' %}" class="card-img-top" alt="emergency 2">
                        <div class="card-body">
                            <h5 class="card-title">Emergency</h5>
                  
                        </div>
                    </div>
                </div> -->
                <div class="col-12 col-sm-6 col-md-4 col-lg-2 mb-4">
                    <div class="card">
                        <img src="{% static 'images/public health service.png' %}" class="card-img-top" alt="publichealthservice 3">
                        <div class="card-body">
                            <h5 class="card-title">Public Health Service</h5>
                           
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="sidebar">
                <ul>
                    <li class="fas fa-phone"><a href="tel:+111111111">Emergency Room:+977 111111111</a></li>
                    <li class="fas fa-phone"><a href="tel:+1122334455">Ambulance Service: +977 2233322</a></li>
                    <li class="fas fa-plus"><a href="{% url 'make_appointment' %}">Make Appointment</a></li>
                    <div class="col-lg-3 col-sm-6 mydivstyle" >
                      <h4><i </i> </h4>
                      <a class="nav-link active" href=""> </a>
                    </div>
                </ul>

                <div class="col-lg-3 col-sm-6 mydivstyle" >
                  <h4><i ></i> </h4>
                  <p class="fa fa-map-marker-alt"><a href="https://www.google.com/maps/place/IOE,+Thapathali+Campus/@27.6940687,85.3177808,17.3z/data=!4m6!3m5!1s0x39eb19ae08c068d9:0x475bed1f66d060c!8m2!3d27.6940347!4d85.3188261!16s%2Fm%2F05zhjq0?authuser=0&entry=ttu">Location</a></p>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
