{% extends "hospital/base.html" %}
{% block title %}View Appointments{% endblock %}
{% block content %}
<body>
    <h2 style="margin-left: 500px;">List of Appointments</h2>
    
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
        }
        table, th, td {
            border: 1px solid black;
        }
        th, td {
            padding: 10px;
            text-align: left;
        }
    </style>
   
    <table>
        <thead>
            <tr>
                <th>Appointment Id</th>
                <th>Appointment Date</th>
                <th>Appointment Time</th>
                <th>Service Id</th>
                <th>Doctor Id</th>
                <th>Patient Id</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for appointment in appointments %}
            <tr>
                <td>{{ appointment.0 }}</td>
                <td>{{ appointment.1 }}</td>
                <td>{{ appointment.2 }}</td>
                <td>{{ appointment.3 }}</td>
                <td>{{ appointment.4 }}</td>
                <td>{{ appointment.5 }}</td>
                <td>
                    <a href="{% url 'update_appointment' appointment.0 %}">Edit</a>
                    <a href="{% url 'delete_appointment' appointment.0 %}">Delete</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <br>
    <a href="{% url 'make_appointment' %}">Add Appointment</a>
</body>
{% endblock %}

